.warna {
    background-color: rgb(251, 246, 177);
    height : 39px;
}

.warna1 { 
    background-color: rgb(238, 193, 211);
    height : 58px;
}

.warna2 {
    background-color: rgb(162, 219, 235);
    height : 58px;
}
