body{
    background-color: #e7d0d0;
}
div.container{
    margin: 0 auto;
    width:90%;
}
header{
    width: 100%;
    height: 100px;
    background-color: #773958;    
}

nav{
    width : 20%;
    height: 800px;
    background-color: #AA506A;
   
    float: left;
}

div.content{
    width: 80%;
    height: 800px;
    background-color: #FFAB96       ;
    float: right; 
}
footer{
    width:100%;
    height:50px;
    background: #4d3838;
}

.header{
    padding-top: 25px;
}

.biodata{
    list-style-type: none;
}

li{
    font-size: 20p;
}